

* {
    box-sizing: border-box;  
}

body{   
    font-family: 'Karla', sans-serif;
    margin: 10% 5%; 
    background-color: #e5eff5;


}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: #e5eff5;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
    padding-top: 1em;
    margin-top: 0;
}



p, h2 {
   font-size: 1em; 
   line-height: 1.5em;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 1.875em 2em;
}

/* === JOIN OUR COMMUNITY === */

.join {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.join h1 {
    color: #2ab2af;
}

.join h2 {
    color: #c0df34;
}

.join p {
    color: #98a6bd;
}

/* === MONTHLY SUBSCRIPTION === */

.monthlysub {
    background-color: #2ab2af;
    color: white;

}

.number {
    font-size: 36px;
}

.permonth {
    color: rgb(255, 255, 255, 0.5);
    align-self: center;
    padding-left: 5px;

}

.price {
    display: flex;
}

.signup {
    background-color: #c0df34;
    border: none;
    color: rgb(255, 255, 255, 0.8);
    padding: 15px 0;
    border-radius: 5px;
    max-width: 240px; 
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

}
/* === WHY US === */

.why {
    background-color: rgb(42, 178, 175, 0.8);
    border-radius: 0 0 5px 5px;
}

.why h1 {
    color: white;
}

ul {
    color: rgb(255, 255, 255, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    
}

/* === MEDIA QUERIES === */

@media (min-width: 520px) {

    .card {
        flex-wrap: wrap;
        max-width: 640px;
        margin: auto;
        flex-direction: row;
    }

    .section {
        flex: 1 50%;
    }

    .join {
        flex-basis: 100%;
    }

    .monthlysub {
        border-radius: 0 0 0 5px;
    }

    .why {
        border-radius: 0 0 5px 0;
    }
}